<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% if title %}
    <title>{{ title }} | Awesome App</title>
    {% else %}
    <title>Awesome App</title>
    {% endif %}
  </head>
  <body>
    <div style="text-align: center;">
      <h1>Hello World</h1>
      <h4>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque quas
        autem quasi.
      </h4>
    </div>
  </body>
  <script>
    console.log("It works");
  </script>
</html>
